/*************GENERAL************* */
body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  height: 80%;
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*************NAVBAR************* */
.navbar {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navAuth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navAuth > * {
  margin: 0;
}


/* nav a {
  display: inline-block;
  margin: 1em;
} */

hr {
  margin: 0;
}

/*************ALL NOTEBOOKS************* */
.notebooksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.notebookContainer {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notebook {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

