/* GENERAL */
body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ALL NOTEBOOKS */
.notebooksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.notebookContainer {
  /* border: 1px solid black; */
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notebook {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notebookTitle {}
